<section class="home-container">
  <div class="hero">
      <h1>Bienvenido a Flor de Loto</h1>
      <p>Tu aliado perfecto para descubrir la belleza de las flores. Explora nuestras variedades, aprende más sobre su cuidado o contáctanos hoy mismo.</p>
      <a routerLink="/flower" class="btn-primary">Conoce Más</a>
  </div>
  <div class="features">
      <h2>Lo Que Ofrecemos</h2>
      <div class="feature-list">
          <div class="feature-item">
              <h3>Flores de Alta Calidad</h3>
              <p>Nos enorgullece ofrecer flores frescas y de la mejor calidad para cualquier ocasión.</p>
          </div>
          <div class="feature-item">
              <h3>Variedad Exclusiva</h3>
              <p>Contamos con una amplia selección de flores únicas y exóticas para satisfacer tus gustos.</p>
          </div>
          <div class="feature-item">
              <h3>Atención Personalizada</h3>
              <p>Estamos disponibles para ayudarte a elegir las flores perfectas para cada momento especial.</p>
          </div>
      </div>
  </div>
</section>
