<section class="home-container">
  <div class="hero">
    <h1>Bienvenido a Flor de Loto</h1>
    <p>Tu aliado perfecto para descubrir la belleza de las flores. Explora nuestras variedades, aprende más sobre su
      cuidado o contáctanos hoy mismo.</p>
    <a routerLink="/flower" class="btn-primary">Conoce Más</a>
  </div>

  <div class="features">
    <h2>Lo Que Ofrecemos</h2>
    <div class="feature-list">
      <div class="feature-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTWz3740ySaC66xylO2ui3Vms7h3xNg707Fg&s
        " alt="Flores de Alta Calidad" class="feature-image">
        <h3>Flores de Alta Calidad</h3>
        <p>Nos enorgullece ofrecer flores frescas y de la mejor calidad para cualquier ocasión.</p>
      </div>
      <div class="feature-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvSof_fR3Kga0THXTInxrNtRF7rG0Ra-uEFA&s
        " alt="Variedad Exclusiva" class="feature-image">
        <h3>Variedad Exclusiva</h3>
        <p>Contamos con una amplia selección de flores únicas y exóticas para satisfacer tus gustos.</p>
      </div>
      <div class="feature-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAMMxYBFgxuJXFsqKyZ-YNJ6SK2v3uwMjppw&s
        " alt="Atención Personalizada" class="feature-image">
        <h3>Atención Personalizada</h3>
        <p>Estamos disponibles para ayudarte a elegir las flores perfectas para cada momento especial.</p>
      </div>
      <div class="feature-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWJJgFzHNsl9e_zMvn0Oq11WmyjgPxQihJqQ&s"
          alt="Decoraciones" class="feature-image">
        <h3>Decoraciones</h3>
        <p>Ofrecemos servicios personalizados para eventos especiales como bodas y cumpleaños.</p>
      </div>
      <div class="feature-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSQkvPrkVWVvdn4LoF0HIbZORELVlpeY8SDQ&s"
          alt="Entrega a Domicilio" class="feature-image">
        <h3>Entrega a Domicilio</h3>
        <p>Llevamos la frescura de nuestras flores directamente a tu puerta.</p>
      </div>
    </div>
  </div>

  <div class="about">
    <h2>Sobre Nosotros</h2>
    <p>En Flor de Loto, creemos en la magia que las flores pueden traer a la vida cotidiana. Con años de experiencia,
      nuestro equipo se dedica a proporcionar la mejor calidad y servicio a nuestros clientes.</p>
  </div>

  <div class="testimonials">
    <h2>Lo Que Dicen Nuestros Clientes</h2>
    <div class="testimonial-list">
      <div class="testimonial-item">
        <p>"Las flores más hermosas que he recibido. El servicio es excepcional."</p>
        <span>- Ana Gómez</span>
      </div>
      <div class="testimonial-item">
        <p>"Excelente calidad y entrega puntual. Muy recomendados."</p>
        <span>- Carlos Pérez</span>
      </div>
    </div>
  </div>
</section>